<script setup lang="ts">
import { ref, reactive } from 'vue';
import { getAuth } from '../lib/auth';
import { path } from '../store';

const tab = ref('providers');
const emailForm = reactive({
  email: '',
  password: ''
});

const loggingIn = ref(false);
const logSource = ref('');
const providerError = ref('');
const emailError = ref('');

const startLogin = (source: string) => {
  providerError.value = '';
  emailError.value = '';
  logSource.value = source;
  loggingIn.value = true;
};

const processError = (error: string) => {
  if (
    error.includes('auth/invalid-email') ||
    error.includes('auth/wrong-password') ||
    error.includes('auth/user-not-found')
  )
    return 'Invalid credentials';
  else if (error.includes('auth/popup-closed-by-user')) return '';
  else if (error === 'unauthorized')
    return 'You were not granted access to this website';

  return error;
};

const loginWithGoogle = async () => {
  startLogin('google');

  const error = await getAuth().signInWithGoogle();
  if (error) providerError.value = processError(error);
  else path.set('dashboard');

  loggingIn.value = false;
};

const loginWithFacebook = async () => {
  startLogin('facebook');

  const error = await getAuth().signInWithFacebook();
  if (error) providerError.value = processError(error);
  else path.set('dashboard');

  loggingIn.value = false;
};

const loginWithEmail = async () => {
  startLogin('email');

  const error = await getAuth().signInWithEmail(
    emailForm.email,
    emailForm.password
  );
  if (error) emailError.value = processError(error);
  else path.set('dashboard');

  loggingIn.value = false;
};
</script>

<template>
  <div class="h-100 w-full d-flex justify-center align-center">
    <v-card min-width="500px">
      <v-toolbar density="compact">
        <v-toolbar-title>Login to manage recipes</v-toolbar-title>
        <template #extension>
          <v-tabs align-tabs="title" v-model="tab" :disabled="loggingIn">
            <v-tab value="providers">Google / Facebook</v-tab>
            <v-tab value="email">Email</v-tab>
          </v-tabs>
        </template>
      </v-toolbar>
      <v-window v-model="tab">
        <v-window-item value="providers" class="pa-4">
          Login with an existing account using one of the following providers
          <div class="h-10 mb-4"></div>

          <div class="d-flex flex-column" style="gap: 0.75rem">
            <v-btn
              color="#db4a39"
              class="text-white"
              :loading="loggingIn && logSource === 'google'"
              :disabled="loggingIn"
              @click="loginWithGoogle"
            >
              <v-icon icon="mdi-google" />
              <span class="ml-2">Google</span>
            </v-btn>

            <v-btn
              color="#3b5998"
              class="text-white"
              :loading="loggingIn && logSource === 'facebook'"
              :disabled="loggingIn"
              @click="loginWithFacebook"
            >
              <v-icon icon="mdi-facebook" />
              <span class="ml-2">Facebook</span>
            </v-btn>
          </div>

          <p v-if="providerError.length" class="text-error mt-6 text-center">
            {{ providerError }}
          </p>
        </v-window-item>
        <v-window-item value="email" class="pa-4">
          Login with your email and password
          <div class="h-10 mb-4"></div>
          <form @submit.prevent="loginWithEmail">
            <v-text-field
              label="Email"
              type="email"
              required
              v-model="emailForm.email"
              :disabled="loggingIn"
            />
            <v-text-field
              label="Password"
              type="password"
              required
              v-model="emailForm.password"
              :disabled="loggingIn"
            />
            <p v-if="emailError.length" class="text-error mb-6 text-center">
              {{ emailError }}
            </p>
            <div class="d-flex justify-end">
              <v-btn
                type="submit"
                color="primary"
                class="px-8"
                :loading="loggingIn && logSource === 'email'"
                :disabled="loggingIn"
              >
                Login
              </v-btn>
            </div>
          </form>
        </v-window-item>
      </v-window>
    </v-card>
  </div>
</template>
