---
import { changeLanguage } from "i18next";
import AdminApp from "../admin/AdminApp.vue";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Recettes Dubois | Admin" admin>
  <AdminApp client:only />
</Layout>
