---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Popular from "../components/popular.astro";
import Categories from "../components/categories.astro";
import Latest from "../components/latest.astro";
import "the-new-css-reset/css/reset.css";

changeLanguage("en");
---

<Layout title="Les petits plats des Dubois">
  <main>
    <Hero headline="Les petits plats des Dubois" />
    <Latest />
    <Popular />
    <Categories />
  </main>
</Layout>

<style is:global>
  body {
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
</style>
