---
import { db } from '../firebase-admin';
import type { Category } from '../shared';
import Section from './section.astro';
import CategoryThumbnail from './category-thumbnail.astro';

const getCategories = async () => {
  const snapshot = await db.collection('categories').get();
  return snapshot?.docs?.map((doc) => doc.data()) || [];
};

const categories = (await getCategories()).map(
  (doc) =>
    ({
      name: doc.name || '',
      slug: doc.slug || doc.name?.replaceAll(/[ ]/g, '-').toLowerCase() || ''
    } as Category)
);
---

<Section name="categories">
  <h2>Cat&eacute;gories</h2>
  <div class="list">
    {categories.map((cat) => <CategoryThumbnail category={cat} />)}
  </div>
</Section>

<style lang="scss">
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1 / -1;
    margin-bottom: 2rem;
  }

  .list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;

    @media (min-width: 450px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>

<style is:global>
  .categories .list > article {
    max-width: 500px;
  }
</style>
