---
import type { Category } from '../shared';

interface Props {
  category: Category;
}

const { category } = Astro.props;
---

<article>
  <a href={`/categories/${category.slug}`}>
    <img src="https://via.placeholder.com/500" alt={category.name} />
    <h3>{category.name}</h3>
  </a>
</article>

<style lang="scss">
  h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
  }
</style>
