---
import Section from './section.astro';
---

<footer class="site-footer">
  <Section collapse secondary bleed>
    <p class="footer-love">
      Made with <span>❤</span> and lots of ☕ by
      <a href="https://cedsharp.ca">C&eacute;drik Dubois</a>
    </p>
    <p class="footer-copy">All rights reserved, 2023 &copy;</p>
  </Section>
</footer>

<style lang="scss">
  .footer-love {
    grid-column: 1 / -1;
    margin: 1rem;
    text-align: center;

    @media (min-width: 800px) {
      grid-column: 1 / span 6;
      margin: 1rem 0;
      text-align: left;
    }

    span {
      color: red;
    }
  }

  .footer-copy {
    text-align: center;
    grid-column: 1 / -1;
    margin: -1rem 1rem 1rem;

    @media (min-width: 800px) {
      grid-column: 8 / -1;
      margin: 1rem 0;
      text-align: right;
    }
  }
</style>

<style is:global lang="scss">
  body {
    padding-bottom: 90px;
    position: relative;

    @media (min-width: 800px) {
      padding-bottom: 54px;
    }

    .site-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
</style>
