---
import Section from './section.astro';
---

<header>
  <Section collapse bleed>
    <div class="navbar">
      <span class="site-name">Les petits plats des Dubois</span>
      <nav>
        <ul>
          <li><a href="/link1">Link 1</a></li>
          <li><a href="/link2">Link 2</a></li>
          <li><a href="/link3">Link 3</a></li>
        </ul>
      </nav>
    </div>
  </Section>
</header>

<style lang="scss">
  .navbar {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    grid-column: 1 / -1;
    height: 48px;
  }

  .site-name {
    font-weight: 700;
    font-size: 1.2rem;
  }

  nav {
    margin-left: auto;

    ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
    }
  }
</style>
