---
interface Props {
  headline?: string;
  description?: string;
  banner?: string;
}

const { headline, description, banner } = Astro.props;
---

<section class="hero">
  <img src={banner || 'https://via.placeholder.com/1920x800'} alt="" />
  <div class="hero__content">
    {headline && <h1>{headline}</h1>}
    {description && <p>{description}</p>}
  </div>
</section>

<style lang="scss">
  .hero {
    height: 70vh;
    position: relative;

    @media (min-width: 800px) {
      height: 80vh;
      max-height: 800px;
    }

    img {
      display: block;
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__content {
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: calc(100% - 2rem);

      h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
      }

      @media (min-width: 800px) {
        width: calc(100% - 4rem);
        max-width: 1200px;
      }
    }
  }
</style>
