---
import Section from './section.astro';
import RecipeThumbnail from './recipe-thumbnail.astro';
import Recipes from '../services/recipes';

const popular = await Recipes.latest();
---

<Section name="latest" primary>
  <h2>Les nouveautées</h2>
  <div class="list">
    {popular.map((recipe) => <RecipeThumbnail recipe={recipe} />)}
  </div>
</Section>

<style lang="scss">
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1 / -1;
    margin-bottom: 2rem;
  }

  .list {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    grid-column: 1 / -1;
    align-items: center;

    @media (min-width: 800px) {
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
</style>

<style is:global>
  .latest .list > article {
    max-width: 500px;
  }
</style>
