---
interface Recipe {
  name: string;
  slug: string;
}

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
---

<article>
  <a href={`/recipe/${recipe.slug}`}>
    <img src="https://via.placeholder.com/500" alt={recipe.name} />
    <h3>{recipe.name}</h3>
  </a>
</article>

<style lang="scss">
  h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
</style>
