---
interface Props {
  primary?: boolean;
  secondary?: boolean;
  bleed?: boolean;
  collapse?: boolean;
  name?: string;
}

const { primary, secondary, bleed, collapse, name } = Astro.props;
---

<section
  class:list={[
    name || '',
    { primary, secondary: secondary && !primary, bleed, collapse }
  ]}
>
  <div>
    <slot />
  </div>
</section>

<style lang="scss">
  section {
    &:not(.collapse) {
      padding: 4rem 0;

      @media (min-width: 800px) {
        padding: 8rem 0;
      }
    }

    &.primary {
      color-scheme: dark;
      background: darkblue;
      color: white;
    }

    &.secondary {
      background: aquamarine;
    }

    > div {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin: 0 auto;
      width: calc(100% - 2rem);

      @media (min-width: 800px) {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        max-width: 1200px;
        width: calc(100% - 4rem);
      }
    }

    &.bleed > div {
      width: 100%;

      @media (min-width: 800px) {
        max-width: 1400px;
        width: calc(100% - 2rem);
      }
    }
  }
</style>
