<script setup lang="ts">
import { ref, computed, type Component } from 'vue';
import { useStore } from '@nanostores/vue';
import { getAuth } from './lib/auth';
import { path, logged, displayName, isAdmin } from './store';

import Dashboard from './pages/Dashboard.vue';
import Login from './pages/Login.vue';
import NotFound from './pages/ErrorNotFound.vue';

// Attempt to log in with saved email
const loading = ref(true);
getAuth()
  .ready()
  .then(() => {
    if (logged.get()) path.set('dashboard');
    loading.value = false;
  });

// Maps different 'paths' to 'pages'
const pages: Record<string, Component> = {
  dashboard: Dashboard,
  login: Login
};

// Theme
const savedTheme = localStorage.getItem('theme');
const systemTheme = matchMedia('(prefers-color-scheme: dark)').matches
  ? 'dark'
  : 'light';

const theme = ref(savedTheme || systemTheme);
const toggleTheme = () => {
  theme.value = theme.value === 'light' ? 'dark' : 'light';
  localStorage.setItem('theme', theme.value);
  document.documentElement.style.setProperty('color-scheme', theme.value);
};

if (theme.value === 'dark') {
  document.documentElement.style.setProperty('color-scheme', theme.value);
}

// Handle which page to display
const $path = useStore(path);
const currentPage = computed(() => {
  return pages[$path.value] ? pages[$path.value] : NotFound;
});

const $logged = useStore(logged);
const $displayName = useStore(displayName);
const $isAdmin = useStore(isAdmin);
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar
      density="compact"
      :color="theme === 'light' ? 'primary' : 'default'"
    >
      <v-app-bar-title>Administration</v-app-bar-title>
      <v-spacer />

      <!-- User Info -->
      <span v-if="$logged" class="mr-4">
        {{ $displayName }}
        <span v-if="$isAdmin"> (Admin)</span>
      </span>
      <span v-else class="mr-4">Not logged</span>

      <v-btn @click="toggleTheme" icon>
        <v-icon
          :icon="theme === 'light' ? 'mdi-weather-night' : 'mdi-weather-sunny'"
        />
      </v-btn>

      <v-btn @click="getAuth().signOut()" icon v-if="$logged">
        <v-icon icon="mdi-logout" />
      </v-btn>
    </v-app-bar>
    <v-main>
      <div
        class="d-flex justify-center align-center w-full h-100"
        v-if="loading"
      >
        <v-progress-circular size="large" indeterminate color="primary" />
      </div>
      <template v-else>
        <component :is="currentPage" v-if="$isAdmin || $path === 'login'" />
        <div class="w-full h-100 d-flex justify-center align-center" v-else>
          <v-card width="400px">
            <v-toolbar density="compact">
              <v-toolbar-title>Unauthorized</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              While you have been granted access to this website, you have not
              enough privileges to manage recipes.
            </v-card-text>
            <v-card-actions class="d-flex justify-center">
              <v-btn href="/" size="small" variant="tonal"
                >Back to the website</v-btn
              >
            </v-card-actions>
          </v-card>
        </div>
      </template>
    </v-main>
  </v-app>
</template>
