---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import i18next, { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';

export interface Props {
  title: string;
  admin?: boolean;
}

const { admin, title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <title>{t(admin ? 'admin.title' : 'site.title')}</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap'
    rel='stylesheet'
  />
  <HeadHrefLangs />
</head>
<body>
  {!admin && <Header />}
  <main>
    <slot />
  </main>
  {!admin && <Footer />}
</body>
</html>

<style is:global>
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
  }
</style>
